    <div class="container" style="background-color:#E845451A;">
        
            <div class="col" style=" margin-left: 300px;">
                <div class="mt-5">
                    <h1 class="mt-4 ml-5 mb-3">Contact Us</h1>
                </div>
                <form method="POST" action="">
                        <div class="col-sm-8 mt-4">
                            <label for="exampleInputName" class="form-label">First Name</label>
                            <input type="name" class="form-control form-control-lg" id="exampleInputName" placeholder=" Enter your first name" required>
                        </div>
                        <div class="col-sm-8 mt-4">
                            <label for="exampleInputContact" class="form-label">Last Name</label>
                            <input type="contact" class="form-control form-control-lg" id="exampleInputContact" placeholder="Enter your Last Name" required>
                        </div>
                        <div class="col-sm-8 mt-4">
                            <label for="exampleInputEmail1" class="form-label">Email Address</label>
                            <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" Enter your email address" required>
                        </div>
                        <div class="col-sm-8 mt-4">
                            <label for="exampleInputPassword1" class="form-label">Inquiry</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="col-sm-8 mt-2">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">I agree to terms & conditions</label>
                        </div>
                        <div class="d-grid col-4 mt-3 mb-5 pl-12">
                            <button routerLink="" class="btn btn-lg" style="background-color:#005F73;color:white">Submit</button>
                        </div>
                   
                </form>
            </div>
    </div>