<app-navbar></app-navbar>
<div class="col-md-10" style="margin-left:250px;">
    <div class="row">
        <div class="bodycol" *ngFor="let book of all_books" style="width: 283px!important;">
          <section class="position text-gray-600 body-font">
            <div class="container px-5 py-24 mx-auto">
              <div class="flex flex-wrap -m-4">
                <div class="card" style="width: 18rem;">
                  <a class="rounded mx-auto d-block">
                    <img alt="ecommerce" class="image"(click)="viewBook(book.id)" src="https://res.cloudinary.com/hanancodes/{{book.book_image}}">
                  </a>
                  <div class="card-body">
                    <h3 class="card-title text-gray-900 text-lg tracking-widest mb-1">{{book.title}}</h3>
                    <h6 class="card-text text-gray-500 title-font text-xs font-medium  mb-1">By: {{book.author}}</h6>
                    <div class="parent">
                      <span class="mt-2 ">Ksh.{{book.price}}
                      <img src="../../assets/img/bag.png" (click)="addCart(book.id)" alt="" width="21" height="21" class="line line1" style="float:right;"></span>
                    </div> 
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
    </div>
</div>
<div class="mt-5">
<app-footer></app-footer>
</div>
