/* .py-24{
    padding-top: 0px!important;
}
.btn{
    background: #05668D;
    border-radius: 8.73082px;
}
.parent {
    white-space: nowrap;
    overflow-x: auto;
}
.line{
    display: inline-block;
}
.line1{
    margin-left: 100px;
}
.form-check{
    padding-top:10px;
} */
.bookbox 
{
    padding: 10px 10px;
} 
.bookbox img
{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}
.bookbox h1 
{
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}
.buybtn
{

    color: #000;
    background-color: var(--primary-color);
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}