

/* .py-24{
    padding-top: 0px!important;

.image{
    width: 100%;
    height: 100%;
} 

 /* .image{
    width: 13622px;
    height: 192px;
}  */


/* .py-24{
    padding-top: 0px;



} */
.title{
  color: #000000;
  font-weight: 500;
  font-size: 17px;
}
.author{
  color: #E48257;
  font-style: italic;
  font-weight: 500;
  font-size: 17px;

}
.divide{
    width: 100px;
}

.py-24{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.px-5{
  padding-right: 1rem!important;
  padding-left: 1rem!important;
  height: 400px;
}

.btn{
    background: #05668D;
    border-radius: 8.73082px;
}
.btn2{
    width: 120px;
    margin-left: 400px;    
}
/*body {
    background-color: #fbfbfb;
  } 
  @media (min-width: 991.98px) {
    main {
      padding-left: 300px;
    }
  }
   */
  /* Sidebar */
/* .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 260px;
    z-index: 600;
    padding-top: 80px;
    margin-right: 200px;
    padding-left: 70px;
  }  
.px-5{
    padding: 5px!important
}
  
   @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }
  }
  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  } 
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden; 
    overflow-y: auto; 
  } 
.postion {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 300px; 
    width:300px; 
}  
     */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F5F5F5;
 }
 /* .bodycol{
  margin-left: 20px;
}   */
.card{
  background-color: #FFFFFF;
}
.form-check{
  padding-left:50px;
} 
 p{
     font-size: 1.1em;
     font-weight: 300;
     line-height: 1.7em;
     color:#999;
 }
a,
a:hover,
a:focus{
    color:inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.navbar{
    padding:15px 10px;
    background: #fff;
    border:none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
.navbar-btn{
    box-shadow: none;
    outline:none !important;
    border:none;
}
.line{
    display: inline-block;
}

.bag{
  margin-left: 90px;
}

.wrapper{
    display: flex;
    width:100%;
    align-items:stretch; 
}
#sidebar{
    min-width:250px;
    max-width: 250px;
    color:rgb(9, 9, 9);
    transition: all 0.3s;
    padding-top: 40px;
}
#sidebar.active{
    margin-left:-250px;
}
#sidebar .sidebar-header{
    padding:20px;
    padding-bottom: 0px;
}
#sidebar ul.components{
    padding:20px 0px;
    border-bottom:1px solid #47748b;
}
#sidebar ul p{
    padding:10px;
    font-size:1.1em;
    display: block;
    color:#fff;
}
#sidebar ul li a{
    padding:10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover{
    color:#fff;
    background: #318fb5;
}
#sidebar ul li.active>a,
a[aria-expanded="true"]{
    color:#fff;
    background: #318fb5;
}
a[data-toggle="collapse"]{
    position: relative;
}
.dropdown-toggle::after{
    display: block;
    position: absolute;
    top:50%;
    right:20px;
    transform: translateY(-50%);
}
ul ul a{
    font-size:0.9em !important;
    padding-left: 30px !important;
    background: #318fb5;
}
ul.CTAs{
    padding:20px;
}
ul.CTAs a{
    text-align: center;
    font-size:0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom:5px;
}

#content{
    width:100%;
    padding:20px;
    min-height: 100vh;
    transition: all 0.3s;
}
.content-wrapper{
    padding:15px;
    padding-top: 60px!important;
}

@media(maz-width:768px){
    #sidebar{margin-left:-250px;}
    #sidebar.active{
        margin-left:0px;
    }
    #sidebarCollapse span{
        display:none;
    }
}

.parent{
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}





