<!-- Navbar -->
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand logo" href="#"><img src="static/images/Group 110.png" alt="" width="100px"></a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav navbar-nav ml-auto">
            <a class="nav-item nav-link active" href="#">Shop <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="#">Upload</a>
            <a class="nav-item nav-link active" href="#">Cart</a>
            <a class="nav-item nav-link active" href="#">Account</a>
            <a class="nav-item nav-link active" href="#">Contact</a>
            <a class="nav-item nav-link active" href="#"><button type="button" class="btn btn-primary">Sign Up</button></a>
            <a class="nav-item nav-link active" href="#"><button type="button" class="btn btn-primary">Login</button></a>
          </div>
        </div>
      </nav> -->
      <!-- body -->
      <!-- Sidebar -->
      <div class="container">
        <h3>Category</h3>
         <div class="row">
            <div class="col col-lg-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">All</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Poetry</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Academics</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Journals</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Fiction</label>
                  </div>
                  <div class="form-check">
                    <button routerLink=""type="button" class="btn btn-primary">Filter</button>
                  </div>
                  <!-- Closing div -->
                  <!-- Content -->
            </div>
            <div class="col">
                <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est ad itaque amet impedit exercitationem obcaecati quod vel et necessitatibus debitis. Tempora consequuntur, fugiat eos neque suscipit assumenda ex distinctio corrupti?</p> -->
                <section class="text-gray-600 body-font">
                  <div class="container px-5 py-24 mx-auto">
                    <div class="flex flex-wrap -m-4">
                      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                        <a class="block relative h-48 rounded overflow-hidden">
                          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="../../assets/img/book.png">
                        </a>
                        <div class="mt-4">
                          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Title</h3>
                          <h6 class="text-gray-900 title-font text-lg font-medium">By: Author</h6>
                          <div class="parent">
                            <p class="mt-1 line">$cost</p>
                            <img src="../../assets/img/bag.png" alt="" width="20" height="20" class="line line1">
                          </div> 
                        </div>
                      </div>
                      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                        <a class="block relative h-48 rounded overflow-hidden">
                          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="../../assets/img/book.png">
                        </a>
                        <div class="mt-4">
                          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Title</h3>
                          <h6 class="text-gray-900 title-font text-lg font-medium">By: Author</h6>
                          <div class="parent">
                            <p class="mt-1 line">$cost</p>
                            <img src="../../assets/img/bag.png" alt="" width="20" height="20" class="line line1">
                          </div>                       
                        </div>
                      </div>
                      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                        <a class="block relative h-48 rounded overflow-hidden">
                          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="../../assets/img/book.png">
                        </a>
                        <div class="mt-4">
                          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Title</h3>
                          <h6 class="text-gray-900 title-font text-lg font-medium">By: Author</h6>
                          <div class="parent">
                            <p class="mt-1 line">$cost</p>
                            <img src="../../assets/img/bag.png" alt="" width="20" height="20" class="line line1">
                          </div>                         
                        </div>
                      </div>
                      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                        <a class="block relative h-48 rounded overflow-hidden">
                          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="../../assets/img/book.png">
                        </a>
                        <div class="mt-4">
                          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Title</h3>
                          <h6 class="text-gray-900 title-font text-lg font-medium">By: Author</h6>
                          <div class="parent">
                            <p class="mt-1 line">$cost</p>
                            <img src="../../assets/img/bag.png" alt="" width="20" height="20" class="line line1">
                          </div>                       
                        </div>
                      </div>
                      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                        <a class="block relative h-48 rounded overflow-hidden">
                          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="../../assets/img/book.png">
                        </a>
                        <div class="mt-4">
                          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Title</h3>
                          <h6 class="text-gray-900 title-font text-lg font-medium">By: Author</h6>
                          <div class="parent">
                            <p class="mt-1 line">$cost</p>
                            <img src="../../assets/img/bag.png" alt="" width="20" height="20" class="line line1">
                          </div> 
                          </div>
                      </div>
                      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                        <a class="block relative h-48 rounded overflow-hidden">
                          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="../../assets/img/book.png">
                        </a>
                        <div class="mt-4">
                          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Title</h3>
                          <h6 class="text-gray-900 title-font text-lg font-medium">By: Author</h6>
                          <div class="parent">
                            <p class="mt-1 line">$cost</p>
                            <img src="../../assets/img/bag.png" alt="" width="20" height="20" class="line line1">
                          </div>                     
                        </div>
                      </div>
                      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                        <a class="block relative h-48 rounded overflow-hidden">
                          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="../../assets/img/book.png">
                        </a>
                        <div class="mt-4">
                          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Title</h3>
                          <h6 class="text-gray-900 title-font text-lg font-medium">By: Author</h6>
                          <div class="parent">
                            <p class="mt-1 line">$cost</p>
                            <img src="../../assets/img/bag.png" alt="" width="20" height="20" class="line line1">
                          </div>                       
                        </div>
                      </div>
                      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                        <a class="block relative h-48 rounded overflow-hidden">
                          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="../../assets/img/book.png">
                        </a>
                        <div class="mt-4">
                          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Title</h3>
                          <h6 class="text-gray-900 title-font text-lg font-medium">By: Author</h6>
                          <div class="parent">
                            <p class="mt-1 line">$cost</p>
                            <img src="../../assets/img/bag.png" alt="" width="20" height="20" class="line line1">
                          </div> 
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <button routerLink="/add" type="button" class="btn btn-primary" style="margin-left: 400px">Load More</button>
            </div>
        </div>
      </div>
