    <div class="content-section login">
        <div class="row" style="background-color:#E845451A;">
            
            <div class="col" style="padding: 10px;">
                <form method="POST" action="">
                    
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4 text-center" style="color:#1B262C; font-weight: bold">Login</legend>
                        <div class="form-group mb-4">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" Enter your email address" required>
                        </div>
                        <div class="form-group mb-4">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password" required>
                        </div>
                        <div class="form-check mb-4">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">I agree to terms & conditions</label>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <div class="row">
                            <div class="col"></div>
                            <div class="d-grid gap-2 col-4 mx-auto">
                                <button type="submit" class="btn">Login</button>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="col">
                <img src="../../assets/img/Group 1.jpg" style="width: 100%; height:100%"/>
            </div>
                <div class="row pt-3">
                    <div class="col"></div>
                    <div class="col">
                        <div class="">
                            <small class="text-muted text-center">
                                Need An Account? <a class="ml-2" href="#" style="text-decoration: none;color: #005F73;">Register</a>
                            </small>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
        </div>
    </div>
