    <div class="content-section login">
        <div class="row" style="background-color:#E845451A;">
            
            <div class="col align-self-md-center" style=" margin-left: 230px;">
                <div class="ml-2">
                    <h1>Login</h1>
                </div>
                <div class="row pt-3">
                    <div class="col">
                        <div class="mt-2">
                            <small class="text-muted text-center">
                                Don't have an account? <a class="ml-2" routerLink="/register" type="button" style="text-decoration: none;color: #005F73;">Create Account</a>
                            </small>
                        </div>
                    </div>
                </div>
                <form (ngSubmit)="onLoggedin()" class="box" #loginForm="ngForm" role="form">    
                    <div class="col-sm-8 mt-4">
                        <label for="exampleInputEmail1" class="form-label">Username</label>
                        <input type="text" class="form-control form-control-lg"[(ngModel)]="login.username" name="username" aria-describedby="emailHelp" placeholder="Username" required>
                    </div>
                    <div class="col-sm-8 mt-4">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control form-control-lg" id="exampleInputPassword1"[(ngModel)]="login.password" placeholder="Enter your password" required>
                        <div class="mt-2">
                            <small class="text-muted text-center">
                                <a class="ml-2 float-right" href="#" style="text-decoration: none;color: #005F73;">Forgot Password?</a>
                            </small>
                        </div>
                    </div>
                    <div class="mb-4 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">I agree to terms and conditions</label>
                    </div>
                    <div class="d-grid col-5 mt-5 pl-12">
                        <button type="submit" class="btn btn-lg" style="background-color:#005F73;color:white">Login</button>
                    </div>

                    <div class="col"></div>
                     
                </form>
            </div>
            <div class="col">
                <img src="../../assets/img/Group 1.jpg" style="width: 100%; height:100%"/>
            </div>
                
        </div>
    </div>

    <app-footer></app-footer>