    <div class="content-section login">
        <div class="row" style="background-color:#E845451A;">
            
            <div class="col align-self-md-center" style=" margin-left: 230px;">
                <div class="ml-5 mt-2">
                    <h1>Register</h1>
                </div>
                <form (ngSubmit)="onRegister()" class="box" #registerForm="ngForm" role="form">
                        <div class="col-sm-8 mt-4">
                            <label for="exampleInputName" class="form-label">Username</label>
                            <input type="name" class="form-control form-control-lg" [(ngModel)]="register.username" name="username" id="exampleInputName" placeholder=" Enter Username" required>
                        </div>
                        <div class="col-sm-8 mt-4">
                            <label for="exampleInputContact" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control form-control-lg" [(ngModel)]="register.password" id="exampleInputPassword1" placeholder="Enter Password" required>
                        </div>
                        <div class="col-sm-8 mt-4">
                            <label for="exampleInputEmail1" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control form-control-lg" [(ngModel)]="register.password2" name="password2" id="exampleInputPassword2" aria-describedby="emailHelp" placeholder=" Confirm Password" required>
                        </div>
                        <div class="col-sm-8 mt-4">
                            <label for="exampleInputName" class="form-label">First Name</label>
                            <input type="name" class="form-control form-control-lg" [(ngModel)]="register.first_name" name="first_name" id="exampleInputName1" placeholder="Enter Your firstName" required>
                        </div>
                        <div class="col-sm-8 mt-4">
                            <label for="exampleInputName" class="form-label">Last Name</label>
                            <input type="name" class="form-control form-control-lg" [(ngModel)]="register.last_name" name="last_name" id="exampleInputName2" placeholder="Enter Your lastName" required>
                        </div>
                        <div class="col-sm-8 mt-4">
                            <label for="exampleInputName" class="form-label">Email</label>
                            <input type="email" class="form-control form-control-lg" [(ngModel)]="register.email" name="email" id="exampleInputEmail" placeholder="Enter Your Email Address" required>
                        </div>
                        <div class="col-sm-8 mt-4">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">I agree to terms & conditions</label>
                        </div>
                        <div class="d-grid col-5 mt-3 pl-12">
                            <button routerLink= "login" type="submit" class="btn btn-lg" style="background-color:#005F73;color:white">Register</button>
                        </div>
                       
                        <div class="mb-12 mt-3 ml-5">
                            <small class="text-muted float-left">
                                Already have an account? <a class="ml-2" routerLink="/login" type="button" style="text-decoration: none;color: #005F73;">Login</a>
                            </small>
                        </div>
                       
                    <div class="col"></div>
                    
                </form>
            </div>
            <div class="col">
                <img src="../../assets/img/Group 84.jpg" style="width: 100%; height:100%"/>
            </div>
                
        </div>
    </div>

