<app-navbar></app-navbar>
<div class="container">
    <div class="row"*ngFor="let book of all_books">
        <div class="col-md-6 " >
            <img src="https://res.cloudinary.com/hanancodes/{{book.book_image}}" class="img-fluid h-75" alt="">
        </div>
        <div class="col-md-6">
            <h2>{{book.title}}</h2>
            <p class="my-2 text-danger">price</p>
            <p>Ksh {{book.price}}</p>
            <p class="my-3">{{book.description}}</p>

            <button class="btn btn-dark ">Make an Offer</button>
            <button class="btn btn-dark mx-3">Add to Cart</button>
        </div>
    </div>
</div>