
    <div class="row">
    <div class="col-sm-6">
        <div class="card" style="border:none;">
            
            <div class="card-body" style="margin-left:0.5px;">
                <div class="content">
            <p class="card text" style="font-size:1.5em;font-style:italic;border:none;">
    You need it,we've got it!<br>
Your number 1 supplier of quality affordable books</p>
    <a routerLink="categories">ORDER NOW <i class="bi bi-arrow-right"></i></a>
</div>
</div>
</div>
</div>


    <div class="col-sm-6">
        <div class="card" style="margin-right:50px; border:none;">
            <img src="../../assets/img/Group 96.png" style="height:70vh;" alt="">
      </div>
</div>
</div>


<!-- start -->
<div class="container mt-5 mb-5">
    <h1 class="text-center">Book-Pick<span class="highlight">Categories</span></h1>
    <div class="row mt-5">
        <!-- one  -->
        <div class="col-sm-3 mt-2">
            <div class="stepBox">
                <img src="../../assets/img/books 1.svg" style="height:10vh;" alt="">
                <p>fiction</p>
            </div>
        </div>
<!-- two -->
        <div class="col-sm-3 mt-2">
            <div class="stepBox">
                <img src="../../assets/img/journal 1.svg" style="height:10vh;" alt="">
                <p>Journals</p>
            </div>
        </div>


        <div class="col-sm-3 mt-2">
            <div class="stepBox">
                <img src="../../assets/img/poetry 1.svg" style="height:10vh;" alt="">
                <p>Poetry</p>
            </div>
        </div>

        <!-- three  -->
        <div class="col-sm-3 mt-2">
            <div class="stepBox">
                <img src="../../assets/img/knowledge 1.svg" style="height:10vh;" alt="">
                <p>Academic</p>
            </div>
        </div>
    </div>
</div>


<!-- bookbox  -->
<div class="container mt-4 mb-4">
<h1 class="text-center">Readers <span class="highlight">Favourites</span></h1>
<div class="row">
<div class="col-lg-3 mt-3" *ngFor="let fd of bookData;index as i">
    <div class="bookbox" *ngIf="i<=3">
        <img src="{{fd.bookImg}}" />
        <h1>{{fd.bookName}}</h1>
        <p>{{fd.bookPrice | currency:'KSH'}}</p>
    </div>
</div>
</div>
<a routerLink="cart" class="viewmorebtn">view more <i class="bi bi-arrow-right"></i></a>
</div>


