
    <div class="row">
    <div class="col-sm-6">
        <div class="card" style="border:none;">
            <br>
            <br>
            <br>
            <br>
            <div class="card-body" style="margin-left:2px;">
            <p class="card text" style="font-size:1.5em;font-style:italic;">
    You need it,we've got it!</p>
    <a routerLink="cart">ORDER NOW <i class="bi bi-arrow-right"></i></a>
</div>
</div>
</div>
</div>

    <div class="row">
    <div class="col-sm-6">
        <div class="card" style="margin-right:50px">
            <img src="../../assets/img/Group 96.png" style="height:70vh;" alt="">
      </div>
</div>
</div>

<!-- start -->
<div class="col-lg-4 mt-2">
    <div class="stepBox">
        <h1>1</h1>
        <p>Journals</p>
    </div>
</div>
<!-- two -->
<div class="col-lg-4 mt-2">
    <div class="stepBox">
        <h1>2</h1>
        <p>Fiction</p>
    </div>
</div>
<!-- three  -->
<div class="col-lg-4 mt-2">
    <div class="stepBox">
        <h1>3</h1>
        <p>Poetry</p>
    </div>
</div>


<!-- bookbox  -->
<div class="container mt-4 mb-4">
<h1 class="text-center">Customers <span class="highlight">Favourites Books</span></h1>
<div class="row">
<div class="col-lg-3 mt-3" *ngFor="let fd of bookData;index as i">
    <div class="bookbox" *ngIf="i<=3">
        <img src="{{fd.bookImg}}" />
        <h1>{{fd.bookName}}</h1>
        <p>{{fd.bookPrice | currency:'KSH'}}</p>
    </div>
</div>
</div>
<a routerLink="cart" class="viewmorebtn">view more <i class="bi bi-arrow-right"></i></a>
</div>


