<app-navbar></app-navbar>

    <div class="row">
    <div class="col-sm-6 mt-5">
        <div class="card" style="border:none;">
            
            <div class="card-body" style="margin-left:0.5px;">
                <div class="content mt-5">
                    <p class="card text" style="font-size:2.0em;border:none;">
                    You need it,we've got it!<br>
                    Your number 1 supplier of quality affordable books</p>
                    <a routerLink="categories">Shop Now <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>


    <div class="col-sm-6">
        <div class="card" style="margin-right:50px; border:none;">
            <img src="../../assets/img/Group 96.png" style="height:70vh;" alt="">
      </div>
</div>
</div>


<!-- start -->
<div class="container mt-5 mb-5">
    <h2 class="text-center">Book Categories</h2>
    <div class="row mt-5">
        <!-- one  -->
        <div class="col-sm-3 mt-2">

            <div class="stepBox">
                <img src="../../assets/img/books 1.svg" style="height:10vh;" alt="">
                <p><button routerLink= "categories" type="submit" class="btn btn-lg" style="background-color:white;color:black">Fiction</button></p>
            </div>
        </div>
<!-- two -->
        <div class="col-sm-3 mt-2">
            <div class="stepBox">
                <img src="../../assets/img/journal 1.svg" style="height:10vh;" alt="">
                <p><button routerLink= "categories" type="submit" class="btn btn-lg" style="background-color:white;color:black">Journals</button></p>
            </div>
        </div>


        <div class="col-sm-3 mt-2">
            <div class="stepBox">
                <img src="../../assets/img/poetry 1.svg" style="height:10vh;" alt="">
                <p><button routerLink= "categories" type="submit" class="btn btn-lg" style="background-color:white;color:black">Poetry</button></p>            </div>
        </div>

        <!-- three  -->
        <div class="col-sm-3 mt-2">
            <div class="stepBox">
                <img src="../../assets/img/knowledge 1.svg" style="height:10vh;" alt="">
                <p><button routerLink= "categories" type="submit" class="btn btn-lg" style="background-color:white;color:black">Academics</button></p>
            </div>
        </div>
    </div>
</div>
<!-- bookbox  -->
<div class="container mt-5 mb-5">
    <h1 class="text-center mt-4" style="font-weight: 500px;">Favourites.</h1>
    <div class="row">
    <div class="col-lg-3 mt-4" *ngFor="let fd of bookData;index as i">
        <div class="bookbox" *ngIf="i<=3">
            <img src="{{fd.bookImg}}" />
            <h1>{{fd.bookName}}</h1>
            <p>{{fd.bookPrice | currency:'KSH'}}</p>
        </div>
    </div>
</div>
</div>




<app-footer></app-footer>