<ng-container *ngIf="products.length !=0">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.title}}</td>
                            <td><img style="width: 120px;" src="{{item.image}}" alt=""></td>
                            <td style="width: 25%;">{{item.description}}</td>
                            <th style="width: 12%;">{{item.price}}</th>
                            <td style="width: 12%;">{{item.quantity}}</td>
                            <td style="width: 12%;">{{item.total}}</td>
                            <td>
                                <button (click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td><button (click)="emptycart()" class="btn btn-danger">Empty Cart</button></td>
                            <td><button routerLink="/products" class="btn btn-primary">Shop More</button></td>
                            <td><button class="btn btn-success">Checkout</button></td>
                            <td><strong>Grand Total : ${{grandTotal}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="products.length ==0">
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center">
            <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="">
            <h4>Your cart is empty!</h4>
            <h6>Add item to it now</h6>
            <button routerLink="/categories" class="btn btn-primary">Shop Now</button>
        </div>
    </div>
</ng-container>
<br><br>
<h4><u>Products you may like</u></h4>
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto" style="padding:10px;">
      <div class="flex flex-wrap -m-4 text-left">
        <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
          <div class="px-4 py-6 rounded-lg">
            <img src="../../assets/img/book.png" alt="" srcset="">
          </div>
          <div class="text mt-4" style="padding-left:35px ;">
            <p class="text-gray-900 title-font">Title</p>
            <p class="text-gray-900 title-font">By: Author</p>
            <div class="parent">
                <p class="mt-1 line">$cost</p>
                <img src="../../assets/img/bag.png" alt="" width="20" height="20" class="line line1">
              </div> 
            </div> 
        </div>
        <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
            <div class="px-4 py-6 rounded-lg">
                <img src="../../assets/img/984.png" alt="" srcset="">
            </div>
            <div class="text mt-4" style="padding-left:35px ;">
                <p class="text-gray-900 title-font">Title</p>
                <p class="text-gray-900 title-font">By: Author</p>
                <div class="parent">
                  <p class="mt-1 line">$cost</p>
                  <img src="../../assets/img/bag.png" alt="" width="20" height="20" class="line line1">
                </div> 
            </div> 
        </div>
        <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
            <div class="px-4 py-6 rounded-lg">
              <img src="../../assets/img/book.png" alt="" srcset="">
            </div>
            <div class="text mt-4" style="padding-left:35px ;">
                <p class="text-gray-900 title-font">Title</p>
                <p class="text-gray-900 title-font">By: Author</p>
                <div class="parent">
                    <p class="mt-1 line">$cost</p>
                    <img src="../../assets/img/bag.png" alt="" width="20" height="20" class="line line1">
                  </div> 
                </div> 
        </div>    
            <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
                <div class="px-4 py-6 rounded-lg">
                    <img src="../../assets/img/984.png" alt="" srcset="">
                </div>
                <div class="text mt-4" style="padding-left:35px ;">
                <p class="text-gray-900 title-font">Title</p>
                <p class="text-gray-900 title-font">By: Author</p>
                <div class="parent">
                    <p class="mt-1 line">$cost</p>
                    <img src="../../assets/img/bag.png" alt="" width="20" height="20" class="line line1">
                  </div> 
                </div> 
            </div>
      </div>
    </div>
  </section>
