<app-navbar></app-navbar>
<div class="container">
    <div class="row">
      <div class="col">
        <img src="../../assets/img/984.png" alt="" style="width:350px; height:400px">
      </div>
      <div class="col">
        <h3>Year</h3>
        <p style="color:red">Price</p>
        <h3>$123</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum ex aspernatur, laborum ipsam excepturi necessitatibus sapiente suscipit ipsum impedit natus nostrum consequatur officia nam cumque quae. Numquam ratione nihil autem.</p>
        <br>
        <div class="parent">
            <button routerLink="/payment"type="button" class="btn btn-primary" style="margin-left: 20px">Make an offer</button>
            <button routerLink="/cart"type="button" class="btn btn-primary" style="margin-left: 20px">Add to cart</button>
        </div>
      </div>
    </div>
    <br><br>
    <h4>Products you may like</h4>
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto" style="padding:10px;">
          <div class="flex flex-wrap -m-4 text-left">
            <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
              <div class="px-4 py-6 rounded-lg">
                <img src="../../assets/img/book.png" alt="" srcset="">
              </div>
              <div class="text mt-4" style="padding-left:35px ;">
                <p class="text-gray-900 title-font">Title</p>
                <p class="text-gray-900 title-font">By: Author</p>
                <div class="parent">
                    <p class="mt-1 line">$cost</p>
                    <img src="../../assets/img/bag.png" alt="" width="20" height="20" class="line line1">
                  </div> 
                </div> 
            </div>
            <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
                <div class="px-4 py-6 rounded-lg">
                    <img src="../../assets/img/984.png" alt="" srcset="">
                </div>
                <div class="text mt-4" style="padding-left:35px ;">
                    <p class="text-gray-900 title-font">Title</p>
                    <p class="text-gray-900 title-font">By: Author</p>
                    <div class="parent">
                      <p class="mt-1 line">$cost</p>
                      <img src="../../assets/img/bag.png" alt="" width="20" height="20" class="line line1">
                    </div> 
                </div> 
            </div>
            <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
                <div class="px-4 py-6 rounded-lg">
                  <img src="../../assets/img/book.png" alt="" srcset="">
                </div>
                <div class="text mt-4" style="padding-left:35px ;">
                    <p class="text-gray-900 title-font">Title</p>
                    <p class="text-gray-900 title-font">By: Author</p>
                    <div class="parent">
                        <p class="mt-1 line">$cost</p>
                        <img src="../../assets/img/bag.png" alt="" width="20" height="20" class="line line1">
                      </div> 
                    </div> 
            </div>    
                <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
                    <div class="px-4 py-6 rounded-lg">
                        <img src="../../assets/img/984.png" alt="" srcset="">
                    </div>
                    <div class="text mt-4" style="padding-left:35px ;">
                    <p class="text-gray-900 title-font">Title</p>
                    <p class="text-gray-900 title-font">By: Author</p>
                    <div class="parent">
                        <p class="mt-1 line">$cost</p>
                        <img src="../../assets/img/bag.png" alt="" width="20" height="20" class="line line1">
                      </div> 
                    </div> 
                </div>
          </div>
        </div>
      </section>
      <app-footer></app-footer>