<div class="content-section login">
    <div class="row mt-5">
        <div class="col">
            <form method="POST" action="">

                <fieldset class="form-group">
                    <legend class="paymentheader border-bottom mb-4 text-center">Payment Information</legend>
                    <div class="form-group mb-4 row d-flex justify-content-center">
                        <label for="exampleInputName" class="form-label text-center">Your fullname</label>
                        <input type="name" class="form-control" id="exampleInputName" placeholder=" Enter your full name" required style="width: 20rem; padding: 10px;">
                    </div>
                    <div class="form-group mb-4 row d-flex justify-content-center">
                        <label for="exampleInputContact" class="form-label text-center">Your Phone Number</label>
                        <input type="contact" class="form-control" id="exampleInputContact" placeholder="+254" required style="width: 20rem; padding: 10px;">
                    </div>
                    <div class="form-group mb-4 row d-flex justify-content-center">
                        <label for="exampleInputEmail1" class="form-label text-center">Delivery Address</label>
                        <input type="email" class="form-control" id="exampleInputLocation" placeholder=" Enter your location" required style="width: 20rem; padding: 10px;">
                    </div>  
                    <div class="text-center">
                        <button routerLink="/cart" type="button" class="btn btn-primary mb-4">Save</button>
                    </div>   
                </fieldset>
            </form>
        </div>
        <div class="col">
            <h4>Order Summary</h4>
            <div class="container">
                <div class="row">
                  <div class="col-sm">
                    Sub Total
                  </div>
                  <div class="col-sm">
                    Cost
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    Delivary Fee
                  </div>
                  <div class="col-sm">
                    Cost
                  </div>
                  <hr>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    Total
                  </div>
                  <div class="col-sm">
                    Cost
                  </div>
                </div>
              </div>
              <div class="text-center buttonr">
                <button routerLink="" type="button" class="btn btn-primary button">Checkout</button>
              </div>
              
              <!-- ending column -->
        </div>
           
    </div>
</div>

